<div class="border-b border-secondary w-full">
  <div class="container max-w-7xl mx-auto p-4 my-auto">
    <div class="flex justify-between text-base">
      <span class="font-semibold">Storify</span>
      <div class="flex gap-8">
        <nav class="flex gap-4">
          <a href="/">Home</a>
          <a href="/folders">Folder</a>
        </nav>
        <form action="/logout">
          <input type="submit" value="Log Out" />
        </form>
      </div>
    </div>
  </div>
</div>
