<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <p>Hello world</p>

    <a href="/folders/create" class="bg-red-600">Create New</a>
    <form action="/" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <input type="file" class="form-control-file" name="uploaded_file" />
        <input
          type="submit"
          value="Get me the stats!"
          class="btn btn-default"
        />
      </div>
    </form>

    <% if (locals.folders) { %>
    <br />
    <% folders.forEach(folder => { %>
    <a href="folders/<%= folder.id%>"> <%= folder.name %> </a>

    <% }) %> <% } %>

    <!-- to show preview -->
    <!-- 
    <img
      src="https://res.cloudinary.com/dpgt1lc0i/image/upload/v1746343345/folders/c65207a7-e23e-45aa-ad36-f7185b5a3498/ehpvdmkmhidtqxqc1cby.pdf"
      alt="ajj"
    /> -->

    <img
      src="https://res.cloudinary.com/dpgt1lc0i/image/upload/w_200,h_250,c_fill,pg_1/folders/c65207a7-e23e-45aa-ad36-f7185b5a3498/ehpvdmkmhidtqxqc1cby.png"
      alt="PDF thumbnail"
    />

    <a href="/logout">
      <!-- Added before: pseudo-element to reserve bold width -->
      <span> Log Out </span>
    </a>
  </body>
</html>
