<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex min-h-dvh flex-col">
    <%- include("partials/header") %>
    <main class="flex-1 container max-w-7xl mx-auto p-8 my-auto">
      <span>Hello, <%- user.firstName %></span>
      <hr />
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
