<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="flex min-h-dvh flex-col">
    <%- include("partials/header") %>
    <main class="flex-1 container max-w-7xl mx-auto p-8 my-auto">
      <span>Hello, <%- user.firstName %></span>
      <hr />
      <div class="mt-4">
        <h2 class="text-xs">QUICK ACCESS</h2>
        <div class="grid grid-cols-4 gap-4">
          <div class="bg-secondary p-4 flex justify-between">
            Hello
            <div>:</div>
          </div>
          <div class="bg-secondary p-4 flex justify-between">
            Hello
            <div>:</div>
          </div>
          <div class="bg-secondary p-4 flex justify-between">
            Hello
            <div>:</div>
          </div>
          <div class="bg-secondary p-4 flex justify-between">
            Hello
            <div>:</div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h2 class="text-xs">ALL FILES</h2>
        <div class="text-xs grid grid-cols-6 gap-4 text-center mt-4">
          <span>NAME</span>
          <span>OWNERS</span>
          <span>LAST MODIFIED</span>
          <span>FILE SIZE</span>
          <span></span>
          <span></span>
        </div>
        <div class="grid grid-cols-6 gap-4 text-xs text-center mt-4 py-4">
          <span>The File One</span>
          <span>The Owner One</span>
          <span>The Last Update</span>
          <span>The File Size</span>
          <span>The Link Icon</span>
          <span>The More Details Icon</span>
        </div>
        <div class="grid grid-cols-6 gap-4 text-xs text-center mt-4 py-4">
          <span>The File One</span>
          <span>The Owner One</span>
          <span>The Last Update</span>
          <span>The File Size</span>
          <span>The Link Icon</span>
          <span>The More Details Icon</span>
        </div>
        <div class="grid grid-cols-6 gap-4 text-xs text-center mt-4 py-4">
          <span>The File One</span>
          <span>The Owner One</span>
          <span>The Last Update</span>
          <span>The File Size</span>
          <span>The Link Icon</span>
          <span>The More Details Icon</span>
        </div>
        <div class="grid grid-cols-6 gap-4 text-xs text-center mt-4 py-4">
          <span>The File One</span>
          <span>The Owner One</span>
          <span>The Last Update</span>
          <span>The File Size</span>
          <span>The Link Icon</span>
          <span>The More Details Icon</span>
        </div>
        <div class="grid grid-cols-6 gap-4 text-xs text-center mt-4 py-4">
          <span>The File One</span>
          <span>The Owner One</span>
          <span>The Last Update</span>
          <span>The File Size</span>
          <span>The Link Icon</span>
          <span>The More Details Icon</span>
        </div>
        <div class="grid grid-cols-6 gap-4 text-xs text-center mt-4 py-4">
          <span>The File One</span>
          <span>The Owner One</span>
          <span>The Last Update</span>
          <span>The File Size</span>
          <span>The Link Icon</span>
          <span>The More Details Icon</span>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
