<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Reset Password - Movie Database</title>
  </head>
  <body>
    <main class="container max-w-7xl mx-auto p-8 min-h-dvh my-auto">
      <div class="items-center">
        <div class="mb-8">
          <h1 class="text-5xl font-bold text-center">Movie Database</h1>
        </div>

        <div class="flex justify-center">
          <form
            action="/password-reset/<%= id %>"
            method="POST"
            class="border rounded-2xl p-4 w-full max-w-xl"
          >
            <div class="text-center mb-4">
              <h2 class="text-xl font-semibold text-center">Reset Password</h2>
              <p class="text-xs font-medium text-text/80">
                It's quick and easy.
              </p>
            </div>
            <%- include("partials/errors") %>
            <div>
              <div class="flex flex-col group gap-1 mb-2">
                <label
                  for="password"
                  class="text-xs font-medium text-text/80 group-focus-within:text-text"
                  >New Password</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  required
                  class="border border-text text-xs p-2 rounded-lg"
                  autofocus
                />
              </div>
              <div class="flex flex-col group gap-1 mb-2">
                <label
                  for="confirmPassword"
                  class="text-xs font-medium text-text/80 group-focus-within:text-text"
                  >Confirm New Password</label
                >
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  required
                  autofocus
                  class="border border-text text-xs p-2 rounded-lg"
                />
              </div>

              <div class="flex flex-col group gap-1 mb-4">
                <input
                  type="submit"
                  value="Reset Password"
                  class="text-primary bg-accent focus:bg-accent/90 focus:scale-95 transition-all duration-300 ease-in-out p-2 rounded-lg flex-1"
                />
              </div>
            </div>

            <div class="text-center">
              <p class="text-xs font-medium text-text/80">
                Remember your password?
                <a
                  href="/"
                  title="Go to Login Form"
                  class="text-accent focus:text-accent/90"
                  >Log In now</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
