<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Storify - Signup</title>
  </head>
  <body>
    <main class="container max-w-7xl mx-auto p-8 min-h-dvh my-auto">
      <div class="items-center">
        <div class="mb-8">
          <h1 class="text-5xl font-bold text-center">Storify</h1>
        </div>
        <div class="flex justify-center">
          <form
            action="/signup"
            method="POST"
            class="border rounded-2xl p-4 w-full max-w-xl"
          >
            <div class="text-center mb-4">
              <h2 class="text-xl font-semibold text-center">
                Create New Account
              </h2>
              <p class="text-xs font-medium text-text/80">
                It's quick and easy.
              </p>
            </div>
            <%- include("partials/errors") %>
            <div>
              <div class="grid grid-cols-2 gap-4 mb-2">
                <div class="flex flex-col group gap-1">
                  <label
                    for="firstName"
                    class="<% errors?.find(e => e.param === 'firsName') ? 'border-red-500' : '' %> text-xs font-medium text-text/80 group-focus-within:text-text"
                  >
                    First Name
                  </label>
                  <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    title="Enter your first name"
                    value="<%= repopulate.firstName||'' %>"
                    class="border border-text text-xs p-2 rounded-lg"
                    required
                  />
                </div>
                <div class="flex flex-col group gap-1">
                  <label
                    for="lastName"
                    class="text-xs font-medium text-text/80 group-focus-within:text-text"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    title="Enter your last name"
                    value="<%= repopulate.lastName||'' %>"
                    class="border border-text text-xs p-2 rounded-lg"
                    required
                  />
                </div>
              </div>

              <div class="flex flex-col group gap-1 mb-2">
                <label
                  for="email"
                  class="text-xs font-medium text-text/80 group-focus-within:text-text"
                  >Email address</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  title="Enter your email"
                  value="<%= repopulate.email||'' %>"
                  class="border border-text text-xs p-2 rounded-lg"
                  required
                />
              </div>

              <div class="flex flex-col group gap-1 mb-2">
                <label
                  for="password"
                  class="text-xs font-medium text-text/80 group-focus-within:text-text"
                  >Password</label
                >
                <input
                  type="password"
                  id="password"
                  name="password"
                  title="Enter your password"
                  class="border border-text text-xs p-2 rounded-lg"
                  required
                />
              </div>

              <div class="flex flex-col group gap-1 mb-4">
                <label
                  for="confirmPassword"
                  class="text-xs font-medium text-text/80 group-focus-within:text-text"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  title="Confirm your password"
                  class="border border-text text-xs p-2 rounded-lg"
                  required
                />
              </div>

              <div class="flex flex-col group gap-1 mb-4">
                <input
                  type="submit"
                  value="Sign Up"
                  class="text-primary bg-accent focus:bg-accent/90 focus:scale-95 transition-all duration-300 ease-in-out p-2 rounded-lg flex-1"
                />
              </div>
            </div>

            <div class="text-center">
              <p class="text-xs font-medium text-text/80">
                Already have an account?
                <a
                  href="/"
                  title="Go to Login Form"
                  class="text-accent focus:text-accent/90"
                  >Log In now</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
